

<ion-tabs>
  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="land-page">
      <ion-icon name="home"></ion-icon>
      <ion-label>Land Page</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="pedidosoracao">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Pedidos de Oração</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="comunidade">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Comunidade</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="atividades">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Atividades</ion-label>
      <!-- <ion-badge>777</ion-badge> -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>