<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<!-- 
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [1,2,3,4,5,6,7,8,9]">
        <div class="img-wrapper" [style.background-image]="'url(assets/img/ionic-image-gallery-' + image + '.jpg)'">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-row class="m-5 ola">
    <h1>Olá {{name_user}}!</h1>
  </ion-row> -->

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let category of categories">
        <!-- (click)="goToCategoryShowPage(category.term_id, category.name, category.slug)"> -->
        <div class="img-wrapper">

          <ion-item>
            <ion-label>
              {{category.name}}
            </ion-label>
            <ion-icon name="{{category.slug}}" slot="end"></ion-icon>
          </ion-item>



        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>