<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Membros Total:{{ count }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding> 
  
  <ion-card *ngFor="let membro of membros">
    <ion-card-header>
      <ion-card-title>{{ membro.profile_name }}</ion-card-title>
      <ion-card-subtitle>{{ membro.mention_name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="membro.media_url">
      
      <!-- <ion-button expand="full" fill="clear" [routerLink]="['/', 'posts', post.id]">Leia Mais</ion-button> -->
    </ion-card-content>
  </ion-card>
  
  
  <ion-infinite-scroll threshold="300px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Carregando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>