<ion-header>
  <ion-toolbar>
    <ion-title>Vídeos (YouTube)</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
 
  <!-- <ion-item-group>
     <ion-item-divider color="light">Youtube</ion-item-divider>
     <ion-item *ngFor="let item of feeds">
      <ion-thumbnail item-left>
        <img [src]='item.thumbnail' width="480" height="360" frameborder="0" allowfullscreen />
     </ion-thumbnail>

      {{ item.title }}
        
     </ion-item>
  </ion-item-group>
 -->


  <ion-card *ngFor="let item of feeds">
    <ion-card-header>
      <ion-thumbnail item-left>
        <img [src]='item.thumbnail' width="480" height="360" frameborder="0" allowfullscreen />
     </ion-thumbnail>

      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <div [innerHTML]="item.youtubeVideo | safeHtml"></div>

    </ion-card-content>
  </ion-card>
  

</ion-content>



