<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none" *ngIf="loggedIn">
          <ion-list-header>
            Mural
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of muralPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-list-header>
            Culto ao Vivo
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of cultoAoVivoPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-list-header>
            Escola de Discípulos
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of escolaDiscipulosPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-list-header>
            Aconselhamento Pastoral
          </ion-list-header>



            <ion-list-header>
              Acesso
            </ion-list-header>
  
            <ion-menu-toggle autoHide="false">
  

            <ion-item routerLink="/logout" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log-out
              </ion-label>
            </ion-item>


          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Acesso
          </ion-list-header>

          <ion-menu-toggle autoHide="false">

            <ion-item routerLink="/videos" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="business"></ion-icon>
              <ion-label>
                Igreja
              </ion-label>
            </ion-item>


            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>

          </ion-menu-toggle>

        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Mostra Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>