<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-icon slot="icon-only" name="add-outline" routerLink="/posts/new"></ion-icon>
    </ion-buttons>
    <ion-button (click)="logoutUser()">
      Logout
    </ion-button>
    <ion-title>Total posts {{ count }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding> 
  
  
  
        <ion-card *ngFor="let post of posts">
          <ion-card-header>
            <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
            <ion-card-subtitle>{{ post.date_gmt |date: 'dd MMM yyy' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img [src]="post.media_url">
            <div [innerHTML]="post.excerpt.rendered"></div>
            <ion-button expand="full" fill="clear" [routerLink]="['/', 'posts', post.id]">Leia Mais</ion-button>
          </ion-card-content>
        </ion-card>
  
  
  <ion-infinite-scroll threshold="300px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Carregando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>